body{
    background-color:aliceblue;
}

.admin-dash{
    display: flex;
}

.admin-dash li{
    list-style: none;
    margin-top: 20px;
    font-size: 25px;
}

.admin-dash li a {
    text-decoration: none;
    color: #000;
}

.admin-menu{
    flex:1;
    background-color:#f50057;
    height: 110vh;
}

.manageProduct{
    flex:4;
    background-color:white;
}

@media only screen and (max-width: 600px) {
    .admin-dash {
      flex-direction: column;
    }
  }